.home .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

/*******************************************************************************
 *                                                                             *
 * Status server                                                               *
 *                                                                             *
 ******************************************************************************/

.status-server {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background);
    width: 25rem;
    height: 3rem;
    color: var(--color);
    border-radius: 10px;
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
}

.server-status-icon {
    height: 3.3rem;
}

.server-status-name {
    font-size: 1.5rem;
    color: var(--color);
}

.server-status-text {
    font-size: 0.6rem;
    color: #1AC707;
}

.server-status-infos .red {
    color: #FF0409;
}

.status-player-count {
    background: var(--shadow);
    min-width: 3rem;
    height: 3rem;
    border-radius: 10px;
}

.player-count {
    font-size: 1.5rem;
    margin: 0.4rem 0.5rem;
}

.status-player-count:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 10px;
    right: 10px;
    border-radius: 15px;
    border: solid 5px var(--background);
    background: #1AC707;
}

.red:after {
    background: #FF0409;
}

.home-bottom {
    position: relative;
    width: 100%;
    height: calc(100% - 80px - 8rem);
    display: flex;
}

/*******************************************************************************
 *                                                                             *
 * news server                                                                 *
 *                                                                             *
 ******************************************************************************/

.new-tab {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box;
    margin-right: 10%;
}

.titre-tab-new {
    margin-top: 1rem;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background: var(--background-transparent);
    color: var(--color);
}

.news-header {
    background-color: #ffa500;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.refresh-button {
    background-color: #ff4757;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.refresh-button:hover {
    background-color: #ff6b81;
}

.news-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news-block {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 15px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    min-height: 60px;
}

.news-block:first-child::before {
    content: 'En Yeni Haber';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff4757;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 0 0 8px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.news-block:first-child .news-content {
    margin-top: 0;
    padding-top: 30px;
}

.news-block:first-child {
    background-color: rgba(76, 175, 80, 0.2);
    color: #ffffff;
}

.news-block:nth-child(2) {
    background-color: rgba(255, 165, 0, 0.2);
    color: #ffffff;
}

.news-block:nth-child(3) {
    background-color: rgba(255, 193, 7, 0.2);
    color: #ffffff;
}

.news-content {
    font-size: 14px;
    color: inherit;
    line-height: 1.5;
    text-align: justify;
    position: relative;
    z-index: 2;
    width: 100%;
    word-wrap: break-word;
}

.news-content p {
    margin: 0;
}

.news-content .bbWrapper {
    padding: 0 1.5rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;

}

.news-content .bbWrapper p {
    font-weight: 100;
    margin: 0;

}

.news-content .bbWrapper .news-author {
    margin-top: 1rem;
    text-align: end;
    font-size: 0.8rem;
}

.news-content .bbWrapper .news-author span {
    font-weight: 700;
}

/*******************************************************************************
 *                                                                             *
 * social server                                                               *
 *                                                                             *
 ******************************************************************************/

.social-tab {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.social-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.social-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding: 15px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: rgba(21, 255, 0, 0.1);
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.social-block:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.social-block::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 10%, transparent 70%);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.social-block:hover::before {
    opacity: 1;
}

.social-block .icon-social {
    pointer-events: none;
    background-repeat: no-repeat;
    height: 55%;
    width: 55%;
    filter: var(--svg-color);
}

.social-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.social-text {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    transition: color 0.3s ease;
    margin-top: 8px;
}

.social-block:hover .social-text {
    color: var(--accent-color);
}

/*******************************************************************************
 *                                                                             *
 * sidebar                                                                     *
 *                                                                             *
 ******************************************************************************/

.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    background: var(--background-transparent);
}

.player-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    height: 3rem;
    margin: 0 1.5rem;
}

/* Sağ öğede avatarı göstermek için */
.player-head {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 90px;
    height: 90px;
    background-size: cover;
    background-position: center;
    border-radius: 50%; /* Yuvarlak avatar */
    border: 2px solid #fff; /* Beyaz sınır */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.player-menu {
    color: var(--element-color);
    transform: rotate(270deg);
    pointer-events: none;
}

.play-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-instance {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: solid 3px var(--element-color);
    border-radius: 15px;
    height: 3.2rem;
    padding-right: 1.9rem;
}

.play-btn {
    border: none;
    border-radius: 10px;
    background: none;
    color: var(--color);
    font-size: 2rem;
    font-weight: bolder;
    padding: 0 1.5rem;
    pointer-events: none;
}

.instance-select {
    display: flex;
    align-items: center;
    position: absolute;
    right: -3;
    top: -2;
    color: var(--element-color);
    font-size: 1rem;
    height: calc(100% - 1px);
    border: solid 3px var(--element-color);
    text-align: center;
    border-radius: 15px;
    padding: 0 0.5rem;
    cursor: pointer;
}

.instance-select:before {
    transform: rotate(270deg);
    pointer-events: none;
}

.info-starting-game {
    display: none;
    text-align: center;
}

.progress-bar {
    appearance: none;
    height: 10px;
    margin: 0.5rem 0;
}

.progress-bar::-webkit-progress-bar {
    background-color: var(--background);
    border: solid 1px var(--element-color);
    border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
    background-color: var(--element-color);
    border-radius: 10px;
}

.settings-btn {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    color: var(--element-color);
    margin: 0 1.5rem;
}

.instance-popup {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background: #000000b3;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.instances-tab {
    position: relative;
    background: var(--background);
    border-radius: 10px;
    padding: 1rem 3rem;
}

.close-popup {
    position: absolute;
    display: flex;
    top: 10px;
    right: 10px;
    background: var(--shadow);
    height: 30px;
    width: 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.instances-tab p {
    margin-top: 1.5rem;
    font-size: 2rem;
}

.instance-elements {
    background: var(--background-element);
    text-align: center;
    border-radius: 10px;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.instance-elements:hover {
    background: var(--element-color);
}

.active-instance {
    background: var(--element-color);
}